@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Bungee+Shade&family=Geist+Pixel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

main{
    
     background-color: #242020;
    
}


.header{
    background-color: #911404;
    height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    
}

.main{
    display: flex;
    flex-direction: row;
}

/*🌟Sidevbar */



.sidevbar{
     background-color: #363333;
    color: #999999;
    height: 100vw;
    border-radius: 10px;
    width: 20vh;
    
    
}

.icons-sidevbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    row-gap: 40px;
    position: fixed;

}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon a{
    text-decoration: none;
     color: #999999;
    
}

.icon a :hover{
    color: #242020;
     transition: color 0.3s ease-in-out;
}

.icon .alerta{
    color: #B30707;
    transition: color 0.3s ease-in-out;
}

/* 🌟Notificaciones */

.notificaciones-empty{
    background-color: #363333 ;
    width: 1110px;
    height: 110px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.notificaciones-generales{
    background-color: #363333 ;
    width: 1110px;
    height: 230px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px ;
    grid-template-rows: 1fr;
    overflow: hidden;
    color: white;
    gap: 10px;


}

.notificaciones{
    background-color:#706969;
    border-radius: 10px;
    height: 215px;
    margin-top: 10px;
    margin-left: 25px;
    
   
}

.info-notificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
}

.buttons{
    display: flex;
    display: row;
    gap: 5px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.Reconocer-alerta{
    cursor: pointer;
    border-radius: 3px;
    color: white;
    background-color: #00C255;
}

.Reconocer-alerta:hover{
     background-color: #078C43;
     transition: background-color  0.3s ease-in-out;
}

.detalles-servidor{
    background-color: #B30707;
      cursor: pointer;
    border-radius: 3px;
    color: white;
}

.detalles-servidor:hover{
    background-color: #780202;
    transition: background-color  0.3s ease-in-out;
}