

  
<header class="header">

  <ul class="">
    <h1>Administrador de Servidores</h1>
  </ul>
</header>


<main class="main">

  <nav class="sidevbar">
 <ul class="icons-sidevbar">

  <div class="icon">
  <li> <a href=""> <mat-icon>home</mat-icon> </a> </li>
  <li> <a href=""> Inicio </a> </li>
  </div>

  <div class="icon">
   <li> <a href="">  <mat-icon>dns</mat-icon> </a> </li>
  <li> <a href=""> Servidores </a></li>
  </div>

  
  <div class="icon" >
   <li> <a href="" [class.alerta] = "Notificacion"> <mat-icon>notifications</mat-icon> </a>  </li>
  <li> <a href=""> Alertas </a> </li>
  </div>

  <div class="icon">
  <li> <a href="">  <mat-icon>build</mat-icon> </a></li>
  <li> <a href=""> Configuraciones </a> </li>
</div> 
</ul>
 
 
</nav> 
  <!--🌟 Mis componentes-->

  
  <!--🌟 Mis Alertas-->

  <div class="notificaciones-generales">
  @for (alerta of alertas; track alerta.Time){
    <div class="notificaciones">

      <div class="info-notificaciones">

      <p><strong>ID:</strong>{{alerta.id_Servidor}}</p>
      <p>{{alerta.TipodeAlerta}}</p>
      <p>{{alerta.Concepto}}</p>
      <p>{{alerta.Time}}</p>

      <div class="buttons">
      <button (click)="reconocerAlerta(alerta)" class="Reconocer-alerta">Reconocer Alerta</button>
      <button [routerLink] ="['/servidor', alerta.id_Servidor]" class="detalles-servidor" >Ver detalles del Servidor</button>
</div>
</div>
    </div>
  } @empty{

    
    <p>No hay Alertas por el momento</p>
   
  }

  </div>


  <!--🌟 Servidores -->

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
