

  
<header class="header">

  <ul class="">
    <h1>Administrador de Servidores</h1>
  </ul>
</header>


<main class="main">

  <nav class="sidevbar">
 <ul class="icons-sidevbar">

  <div class="icon">
  <li> <a href=""> <mat-icon>home</mat-icon> </a> </li>
  <li> <a href=""> Inicio </a> </li>
  </div>

  <div class="icon">
   <li> <a href="">  <mat-icon>dns</mat-icon> </a> </li>
  <li> <a href=""> Servidores </a></li>
  </div>

  
  <div class="icon">
   <li> <a href=""> <mat-icon>notifications</mat-icon> </a>  </li>
  <li> <a href=""> Alertas </a> </li>
  </div>

  <div class="icon">
  <li> <a href="">  <mat-icon>build</mat-icon> </a></li>
  <li> <a href=""> Configuraciones </a> </li>
</div> 
</ul>
 
 
</nav> 
  <!--🌟 Mis componentes-->

  
  <!--🌟 Mis Alertas-->
  @for (alerta of alertas; track alerta.Time){
    <div class="notificaciones">

      <p><strong>ID:</strong>{{alerta.id_Servidor}}</p>
      <p><strong>Tipo:</strong>{{alerta.TipodeAlerta}}</p>
      <p><strong>Problema:</strong>{{alerta.Concepto}}</p>
      <p><strong>Fecha y Hora:</strong>{{alerta.Time}}</p>

      <button (click)="reconocerAlerta(alerta)">Reconocer Alerta</button>
      <button [routerLink] ="['/servidor', alerta.id_Servidor]" >Ver detalles del Servidor</button>

    </div>
  } @empty{

    <div class="notificaciones-empty">
    <p>No hay Alertas por el momento</p>
    </div>
  }


  <!--🌟 Servidores -->

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
