@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Bungee+Shade&family=Geist+Pixel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.header{
    background-color: #911404;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}