<div class="fondo flex flex-col content-center items-center">
  
    <!-- Login-->

    <div class="form-login flex flex-col content-center items-center mt-36   ">

        <div class="titulo">
            <h1> <i class="bx bx-plus-shield" > </i>  ServerGuard</h1>
        </div>

        <form action="" method="post" class="flex flex-col">

            <label for="user">Usuario:</label>
            <input type="text" placeholder="Ingresar usuario" required>

            <label for="user">Contraseña:</label>
            <input type="password" placeholder="Ingresar contraseña" required>
            
            <a href="">¿Olvido su contraseña?</a>

            <input type="submit" value="Ingresar al Dashboard">
        </form>
    </div>

</div>