<div class="fondo flex flex-col content-center items-center">
  
    <!-- Login-->

    <div class="form-login flex flex-col content-center items-center mt-36   ">

        <div class="titulo">
            <h1> <i class="bx bx-plus-shield" > </i>  ServerGuard</h1>
        </div>

        <form action="" (NgSubmit)="Login()" method="post" class="flex flex-col">

            <label for="user">Usuario:</label>
            <input type="text" [(ngModel)]="user" name="user" placeholder="Ingresar usuario" class="input-form" required>

            <label for="user">Contraseña:</label>
            <input type="password" [(ngModel)]="pass" name="pass" placeholder="Ingresar contraseña" class="input-form" required>
            
           
            <a href="" class="text-right p-2">¿Olvido su contraseña?</a>
           

            <input type="submit" class="btn-ingresar p-3 " value="Ingresar al Dashboard">
        </form>
    </div>

</div>